footer()
  div(class="copyright right")
    a(href="#" class="white-link" title="to TOP")
      span(class="fa fa-arrow-up")
  div(class="")
    center()
      div(class="onoffswitch")
          if (HTML_SWITCHSTATE === 'checked')
            input(type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked)
          else
            input(type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" unchecked)

          label(class="onoffswitch-label" for="myonoffswitch")
            span(class="onoffswitch-inner")
            span(class="onoffswitch-switch")


      span(class="fas fa-copyright")
      span= ' copyright 2018 by '
      a(href='http://www.mgeo.de' class="footer")='mgeo.de'
      br
      span(class="fab fa-simplybuilt")
      span= ' build: '+ HTML_VERSION
      span(style="margin-right:10px;")
      span(class="far fa-calendar-alt")
      span()= ' ' + HTML_BUILDDATE

      if (HTML_REFRESH_TIME > 0)
        p()
          span(class="fa fa-stopwatch")
          span=' refresh interval: '+HTML_REFRESH_TIME+' sec.'
